In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-02-02 21:45:01,3.0707,172.7902,81.73,79,29,17.83
1,1,Rio De Janeiro,BR,2022-02-02 21:38:11,-22.9028,-43.2075,79.02,91,100,6.91
2,2,Kaitangata,NZ,2022-02-02 21:45:01,-46.2817,169.8464,54.36,95,100,4.99
3,3,Barrow,US,2022-02-02 21:44:08,71.2906,-156.7887,-20.18,69,0,4.61
4,4,Emborion,GR,2022-02-02 21:45:02,40.4833,21.5500,28.76,85,39,4.76

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key="AIzaSyB-wJ3b2grj1xije6qYosNJwYHN0Jk1GLs")

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2022-02-02 21:45:01,3.0707,172.7902,81.73,79,29,17.83
1,1,Rio De Janeiro,BR,2022-02-02 21:38:11,-22.9028,-43.2075,79.02,91,100,6.91
6,6,Piacabucu,BR,2022-02-02 21:45:03,-10.4056,-36.4344,80.26,75,11,10.49
7,7,Hilo,US,2022-02-02 21:43:03,19.7297,-155.0900,78.12,69,40,6.91
8,8,Mahebourg,MU,2022-02-02 21:42:30,-20.4081,57.7000,79.25,100,75,33.38
9,9,Ambon,ID,2022-02-02 21:45:03,-3.6954,128.1814,73.54,94,20,3.44
10,10,Saint-Philippe,RE,2022-02-02 21:45:04,-21.3585,55.7679,80.19,94,100,34.09
11,11,Puerto Ayora,EC,2022-02-02 21:45:04,-0.7393,-90.3518,82.36,89,37,5.01
12,12,Saint-Georges,GD,2022-02-02 21:45:04,12.0564,-61.7485,82.08,74,75,20.71
13,13,Chuy,UY,2022-02-02 21:43:49,-33.6971,-53.4616,74.48,74,0,13.22

In [11]:
preferred_cities_df.count()

City_ID       217
City          217
Country       216
Date          217
Lat           217
Lng           217
Max Temp      217
Humidity      217
Cloudiness    217
Wind Speed    217
dtype: int64

In [12]:
preferred_cities_df = preferred_cities_df.dropna()

In [13]:
preferred_cities_df.count()

City_ID       216
City          216
Country       216
Date          216
Lat           216
Lng           216
Max Temp      216
Humidity      216
Cloudiness    216
Wind Speed    216
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0       Butaritari      KI     81.73   3.0707  172.7902
1   Rio De Janeiro      BR     79.02 -22.9028  -43.2075
6        Piacabucu      BR     80.26 -10.4056  -36.4344
7             Hilo      US     78.12  19.7297 -155.0900
8        Mahebourg      MU     79.25 -20.4081   57.7000
9            Ambon      ID     73.54  -3.6954  128.1814
10  Saint-Philippe      RE     80.19 -21.3585   55.7679
11    Puerto Ayora      EC     82.36  -0.7393  -90.3518
12   Saint-Georges      GD     82.08  12.0564  -61.7485
13            Chuy      UY     74.48 -33.6971  -53.4616

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,81.73,3.0707,172.7902,Isles Sunset Lodge
1,Rio De Janeiro,BR,79.02,-22.9028,-43.2075,Hotel cruz de ouro
6,Piacabucu,BR,80.26,-10.4056,-36.4344,Piaçabuçu News
7,Hilo,US,78.12,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Mahebourg,MU,79.25,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
9,Ambon,ID,73.54,-3.6954,128.1814,Swiss-Belhotel Ambon
10,Saint-Philippe,RE,80.19,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
11,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
12,Saint-Georges,GD,82.08,12.0564,-61.7485,Radisson Grenada Beach Resort
13,Chuy,UY,74.48,-33.6971,-53.4616,Nuevo Hotel Plaza

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))